/* RESET GLOBAL */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* BOTÃO LG */

.button-lg {
  background: linear-gradient(135deg, #FF8833, #FF5522);
  width: auto;
  height: 42px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  margin-top: 16px;
  margin-left: 16px;
}

/* BOTÃO LG CADASTRO */
.register-link {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  font-family: Roboto, sans-serif;
  color: #fcfdff;
  width: 100%;
  text-decoration: none;
}

.register-link p {
  text-align: center;
  padding-top: 7px;
}

/* CADASTRO  */

.container__register {

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;

}


/* FORM CONTAINER */

.right-side {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  justify-content: space-between;
}


.container__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;


}

/* FORM NOME & SOBRENOME */
.form {
  display: flex;
}


/* INPUT NOME CADASTRO */

.field-name {
  width: 250px;
  height: 56px;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-left: 16px;

}



/* INPUT SOBRENOME CADASTRO */
.field-lastname {
  width: 250px;
  height: 50px;
  border-radius: 4px;
  margin-left: 16px;
  margin-top: 7px;
}

/* LEGEND NOME */

.legend-name,
.legend-pass,
.legend-email {
  font-family: Roboto, sans-serif;
  margin-left: 16px;
  font-size: 12px;
  line-height: 16px;

}

/* INPUT NOME */
.input-name {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 16px;
}

/* INPUT SOBRENOME */
.input-lastname {
  width: 100%;
  height: 45px;
  border: none;
  font-size: 16px;
  padding-left: 16px;
  outline: none;
  border-radius: 4px;
}

/* FIELDSET EMAIL & PASSWORD */

.field-email,
.field-pass {
  width: 97%;
  height: 56px;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-left: 16px;
}

/* INPUT EMAIL */
.input-email {
  border: none;
  width: 100%;
  height: 70%;
  padding-left: 16px;
  outline: none;
}

/* INPUT PASSWORD */
.input-pass {
  width: 90%;
  height: 80%;
  outline: none;
  padding-left: 16px;
  border: none;
}

.icon-pass {
  cursor: pointer;
}

/* IMG */

.left-side img {
  display: flex;
  justify-content: flex-start;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.right-side h1 {
  text-align: center;
}


/*REGISTER SUCESS COMPONENT*/
.registersuccess{
  width: 320px;
  padding: 6px 16px;
  border-radius: 4px;
  color: white;
  background-color: #2E7D32;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.15px;
  margin-bottom: 76px;
  margin-left: 7em;
 
}

.registersuccess img {
  width: 22px;
  height: 22px;
  margin-right: 12px;
}

/*NavBar Component*/
.navBar{
  width: 100%;
  height: 73px;
  background-color: #111133;
  display: flex;
  align-items: center;
}

.navBarLogo{
  width: 111px;
  height: 41px;
  margin-left: 1.9em;
}

.navBarMenu{
  display: flex;
  margin-left: 6.3em;
}

.navBarMenu a{
  text-decoration: none;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
  letter-spacing: 0.15px;
  color: white;
  margin-right:1.2em;
}
.navSideRight{
 display: flex;
 margin-left: auto;
 margin-right: 1.9em;
}
.navBarAvatar{
  width: 40px;
  height: 40px;
  border-radius: 300px;
  margin-right: 2px;
}
/* ----------
  LOGIN 
---------- */

/* Container Formulário Login */
.form-login {
  display: flex;
  align-items: center;
}

/* IMG Login */

.login-left img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

/*  Formulário Login */
.login-right {
  width: auto;
  margin-left: 700px;
  margin-top: 100px;
}


/* Botão Google Login */

.googlebtn {
  display: block;
  margin: 32px 200px;
}

/* Títlulo Orange Portfólio H3 */

.login-right h3 {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  color: #222244;
  margin-right: 18px;
}


/*  Subtítulo Faça Login Email */

.login-right h5 {

  font-size: 24px;
  margin-bottom: 16px;
  margin-left: 16px;
  font-weight: 400;
  color: #515255;

}

/* BTN Cadastrar */

.btnregister {
  margin-top: 18px;
  margin-left: 16px;
  color: #818388;
}

.link-register {
  text-decoration: none;
}