/* RESET GLOBAL */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* BOTÃO LG */

.button-lg {
  background: linear-gradient(135deg, #ff8833, #ff5522);
  width: auto;
  height: 42px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  margin-top: 16px;
  margin-left: 16px;
}

/* BOTÃO LG CADASTRO */
.register-link {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  font-family: Roboto, sans-serif;
  color: #fcfdff;
  width: 100%;
  text-decoration: none;
}

.register-link p {
  margin: 0 auto;
  margin-top: 16px;
  width: 517px;
  height: 42px;
  text-align: center;
  padding-top: 7px;
}

/* CADASTRO  */

.container__register {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
}

/* FORM CONTAINER */

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* FORM NOME & SOBRENOME */
.form {
  display: flex;
}

/* INPUT NOME CADASTRO */

.field-name {
  width: 250px;
  height: 56px;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-left: 16px;
}

/* INPUT SOBRENOME CADASTRO */
.field-lastname {
  width: 250px;
  height: 50px;
  border-radius: 4px;
  margin-left: 16px;
  margin-top: 7px;
}

/* LEGEND NOME */

.legend-name,
.legend-pass,
.legend-email {
  font-family: Roboto, sans-serif;
  margin-left: 16px;
  font-size: 12px;
  line-height: 16px;
}

/* INPUT NOME */
.input-name {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 16px;
}

/* INPUT SOBRENOME */
.input-lastname {
  width: 100%;
  height: 45px;
  border: none;
  font-size: 16px;
  padding-left: 16px;
  outline: none;
  border-radius: 4px;
}

/* FIELDSET EMAIL & PASSWORD */

.field-email-login,
.field-pass-login {
  width: 517px;
  height: 56px;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.field-email-login {
  margin-top: 16px;
}

.field-email {
  width: 517px;
  height: 56px;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-left: 16px;
}

/* INPUT EMAIL */
.input-email {
  border: none;
  width: 100%;
  height: 70%;
  padding-left: 16px;
  outline: none;
}

/* INPUT PASSWORD */
.input-pass {
  width: 90%;
  height: 80%;
  outline: none;
  padding-left: 16px;
  border: none;
}

.icon-pass {
  cursor: pointer;
}

/* IMG */

.left-side img {
  display: flex;
  justify-content: flex-start;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.right-side h1 {
  text-align: center;
}

/*REGISTER SUCESS COMPONENT*/
.registersuccess {
  width: 320px;
  padding: 6px 16px;
  border-radius: 4px;
  color: white;
  background-color: #2e7d32;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.15px;
  margin-bottom: 76px;
  margin-left: 7em;
}

.registersuccess img {
  width: 22px;
  height: 22px;
  margin-right: 12px;
}

/*NavBar Component*/
.navBar {
  width: 100%;
  height: 73px;
  background-color: #111133;
  display: flex;
  align-items: center;
}

.navBarLogo {
  width: 111px;
  height: 41px;
  margin-left: 1.9em;
}

.navBarMenu {
  display: flex;
  margin-left: 6.3em;
}

.navBarMenu a {
  text-decoration: none;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: white;
  margin-right: 1.2em;
}

.navSideRight {
  display: flex;
  margin-left: auto;
  margin-right: 1.9em;
}

.navBarAvatar {
  width: 40px;
  height: 40px;
  border-radius: 300px;
  margin-right: 2px;
}

/* ----------
  LOGIN 
---------- */

/* Container Formulário Login */

.form-login {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* IMG Login */

.login-left img {
  display: block;
  width: 100%;
  height: 100vh;
}

/*  Formulário Login */

.login-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

/* Botão Google Login */

.googlebtn {
  width: 180px;
  height: 46px;
  display: block;
  margin: 32px auto;
}

/* Títlulo Orange Portfólio H3 */

.login-right h3 {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  color: #222244;
  margin-right: 18px;
}

/*  Subtítulo Faça Login Email */

.login-right h5 {
  font-size: 24px;
  margin-top: 32px;
  margin-left: 16px;
  font-weight: 400;
  color: #515255;
}

/* BTN Cadastrar */

.btnregister {
  margin-top: 18px;
  margin-left: 16px;
  color: #818388;
}

.link-register {
  text-decoration: none;
}

/* Media Screen Login  */

@media all and (min-width: 768px) and (max-width: 1024px) {
  .login-right {
    margin: 0 auto;
  }

  .field-email-login,
  .field-pass-login,
  .register-link p {
    width: 480px;
  }

  .googlebtn {
    width: 150px;
    height: 36px;
    margin-bottom: 16px;
  }

  .login-right h3 {
    font-size: 34px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 109px;
  }

  .login-left {
    display: none;
  }

  .login-right {
    margin: 16px;
  }

  .register-link p {
    margin-left: 16px;
  }

  .login-right {
    margin-right: 10px;
  }

  .login-right h3 {
    font-size: 34px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .login-right {
    margin-top: 109px;
  }

  .login-left {
    display: none;
  }

  .login-right h3 {
    font-size: 24px;
  }

  .register-link p {
    width: 300px;
  }

  .field-email-login,
  .field-pass-login {
    width: 300px;
  }

  .link-register p {
    margin: 0 auto;
    margin-top: 16px;
  }
}

/* Media Screen Register*/
@media screen and (max-width: 1469px) {
  .container__register {
    justify-content: space-between;
    padding-right: 10em;
  }
}

@media screen and (max-width: 1289px) {
  .container__register {
    justify-content: space-between;
    padding-right: 6em;
  }
}

@media screen and (max-width: 1183px) {
  .container__register {
    justify-content: space-between;
    padding-right: 2em;
  }
}

@media screen and (max-width: 1107px) {
  .container__register {
    justify-content: center;
    padding: 0px;
  }

  .left-side {
    display: none;
  }
}

@media screen and (max-width: 1816px) {
  .left-side img {
    width: 40%;
  }
}

@media screen and (max-width: 619px) {
  .container__register {
    justify-content: none;
  }

  .container__form {
    justify-content: center;
  }

  .form {
    flex-direction: column;
    width: 100%;
  }

  .form fieldset {
    width: 312px;
    margin-bottom: 16px;
    margin-left: 0px;
  }

  .field-email,
  .field-pass {
    width: 312px;
    margin-left: 0px;
  }

  .field-lastname {
    margin-top: 0px;
  }

  .field-name {
    height: 56px;
  }

  .right-side h1 {
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .registersuccess {
    margin: 0;
    margin-left: 2px;
    margin-bottom: 56px;
    width: 312px;
  }

  .button-lg {
    margin: 0 auto;
    width: 312px;
    height: 47px;
  }
}
